# Node.js dependencies
node_modules/
client/node_modules/
server/node_modules/



# Dependency directories
client/neige/node_modules/
server/tileserver-gl/node_modules/


# Miscellaneous
.DS_Store
*.swp
*.swo

